<div class = "container">
    <h2>My Tasks today</h2>
    <app-task *ngFor="let task of tasks" [taskObj]="task" (deleteTask)="deleteTask($event)"  (taskClick)="selectedTask($event)"></app-task>
    <div class="new-task">
    <p>Add task</p>
        <div>
            Name : <input type="text" [(ngModel)]="taskName"> 
        </div>
        <br>
        <div>
            Description : <input type="text" [(ngModel)]="taskDescription">
        </div>
        <br>
        <button (click)="addTask()">Add</button>
    </div>
    <br>
    <div class="box2 " *ngIf="taskSelect">
        <span>
            <h3>Task : {{taskSelect.name}}</h3>
            <b>Description : </b> <span>{{taskSelect.description}}</span><
        </span>
    </div>
</div>  