.box{
    border: 1px solid olive;
    padding: 7px;
    margin-bottom: 7px;
}
button{
    border: none ;
    background-color: olivedrab;
    border-radius: 7px;
}
.selected{
    background-color: lightgray;
}